*.html
*.par
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.pcf
*.prj
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.map
*.csv
*.xml
*.xrpt
*.debug
*.tcl
*.log
*.mrp
*.ngm
*.txt
*.stx
*.gise
*.bit
*_bitgen.xwbt
_ngo
_xmsgs
iseconfig
xlnx_*
planAhead*
xst
